<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.forkmang">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".ForkApplication"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ForkMangment"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBigzFJ6ag5E7pgeCdvpZbig7vKPYSUGx0" />

        <activity
            android:name=".activity.SupportActivity"
            android:exported="false" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <activity
            android:name=".activity.PaymentScreenActivity"
            android:exported="false" />
        <!--
        <activity
            android:name="com.forkmang.fragment.LocationScreen_Fragment"
            android:exported="false" />
        -->
        <activity
            android:name=".activity.WalkinActionPage"
            android:exported="false" />
        <activity
            android:name=".activity.OrderConformationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityPaymentSummary"
            android:exported="false" />
        <activity
            android:name=".activity.SelectFoodActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BookingOrderReserverConformationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BookingTabViewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DashBoardView"
            android:exported="true" />
        <activity
            android:name=".activity.DashBoardActivity"
            android:exported="true" />
        <activity
            android:name=".activity.DrawerActivity"
            android:exported="true" />

        <activity
            android:name=".activity.PickupSelectFoodActivity"
            android:exported="true" />

        <activity
            android:name=".activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TutorialScreen"
            android:exported="true" />
        <activity
            android:name=".activity.SelectLanguage"
            android:exported="true" />
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".activity.RedirectToFaceLogin"
            android:exported="true" />
        <activity
            android:name=".activity.LoginFormActivity"
            android:exported="true" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ForgotPassword"
            android:exported="true" />
        <activity
            android:name=".activity.FaceLoginPermission"
            android:exported="true" />
        <activity
            android:name=".activity.FaceLogin"
            android:exported="true" />
        <activity
            android:name=".activity.BookingTableDetailView"
            android:exported="true" />
        <activity
            android:name=".activity.ActivityPaymentSummaryWalkin"
            android:exported="true" />
        <activity
            android:name=".activity.WalkinConformationActivity"
            android:exported="true" />
        <activity
            android:name=".activity.PickupConformationActivity"
            android:exported="true" />

        <activity
            android:name=".activity.MapsActivity"
            />

        <activity
            android:name=".fragment.OrdersListingFragment"
            android:exported="true" />
        <activity
            android:name=".fragment.ContactTermsFragment"
            android:exported="true" />
        <activity
            android:name=".activity.ActivityPaymentSummaryPickup"
            android:exported="true" />

        <activity
            android:name="com.forkmang.fragment.WalkinDetailFragment"
            android:exported="true" />



        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>